.nav-bar{
    width: 100%;
    padding: 12px 20px;
    margin: 50px 0;
    box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: aquamarine;
  font-size: xx-large;
}
h1{
    font-size: 100px;
    float: left;
}
nav-bar{
    display: inline-block;
}
h2{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 5vh;
    color: plum;
    text-align: center;
}
p{
    font-size: 3vh;
}
li{
    font-size: 3vh;
}
h3{
    font-size: 3vh;
}
h4{
    font-size: 3vh;
}
.serve{
    font-size: 3vh;
}